<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Mi Portafolio Online</title>
	<meta description="En esta pagina se encuentran los proyectos que ha realizado Mario MAnzano">
	<link rel="stylesheet" type="text/css" href="../static/css/estilos.css">
</head>
<body>
	<header id="yo" class="Header">
		<nav>
			<ul>
				<li>
					<a href="#yo">yo</a>
				</li>
				<li>
					<a href="#perfil">perfil</a>
				</li>
				<li>
					<a href="#trabajo">trabajo</a>
				</li>
				<li>
					<a href="#contenido">contenido</a>
				</li>
			</ul>
		</nav>
		<figure>
			<img src="avatar.jpg" alt="Avatar">
			<figcaption><a href="http://twitter.com/tesidhc" target="_black">@tesidhc</a></figcaption>
		</figure>
		<p>Mario Manzano</p>
	</header>
	<section id="perfil">
		<h2>Mi perfil</h2>
		<p>Hola! este es mi portafolio de trabajo</p>
		<a href="http://twitter.com/tesidhc">twitter</a>
		<a href="https://github.com/mamanzano">Github</a>
	</section>
	<section id="trabajo">
		<h2>Mi trabajo</h2>
		<article>
			<figure>
				<img src="mehorandola.jpg">
				<figcaption>website de mario manzano</figcaption>
			</figure>
		</article>
			<article>
			<figure>
				<img src="mehorandola.jpg">
				<figcaption>website de mario manzano</figcaption>
			</figure>

		</article>
			<article>
			<figure>
				<img src="mehorandola.jpg">
				<figcaption>website de mario manzano</figcaption>
			</figure>

		</article>
			<article>
			<figure>
				<img src="mehorandola.jpg">
				<figcaption>website de mario manzano</figcaption>
			</figure>

		</article>
			<article>
			<figure>
				<img src="mehorandola.jpg">
				<figcaption>website de mario manzano</figcaption>
			</figure>

		</article>
			<article>
			<figure>
				<img src="mehorandola.jpg">
				<figcaption>website de mario manzano</figcaption>
			</figure>

		</article>
	</section>
	<footer id="contacto">
		<h3>Contacto</h3>
		<p>Tienes una sugerencia o quieres trabajat conmigo ponte en contacto</p>
		
		<form>
			<input type="text" placeholder="Nombre" />
			<input type="email" placeholder="Email" />
			<textarea placeholder="Motivo"></textarea>
			<button type="submit">Contactarme</button>
		</form>
	</footer>
</html>